.podcast-image {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.podcast-title{
  margin-top: 20px;
  margin-left: 10px;  
}

.podcast-author{
  margin-left: 10px;  
  font-style: italic;
  margin-bottom: 20px;
}

.podcast-description{
  font-style: italic;
}

.episode-card{
  margin-left: 100px;
}

.episode-card .episode-info{
  font-style: italic;
}